@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.font-sans-serif {
  font-family: "Work Sans", sans-serif;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
