@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.font-sans-serif {
  font-family: "Work Sans", sans-serif;
}
:root {
  --body_background: white;
  --body_color: black;
  --button_yellow_color: yellow-500;
  --contact_background: gray-100;
  --contact_text1: gray-800;
  --contact_text2: gray-600;
  --google_color: black;
}
[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --button_yellow_color: gray-100;
  --contact_background: gray-800;
  --contact_text1: gray-100;
  --contact_text2: gray-50;
  --google_color: white;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
